<!DOCTYPE html>
<html lang="cs">
<div class="html">
<head>
 <!-- Blok s titulkem stránky -->
 <title>{% block title %}Hotelová rezervace{% endblock %}</title>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
 <!-- Připojení externích CSS -->
 <!-- Latest compiled and minified CSS -->

 <link rel="stylesheet"
href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
 <!-- Připojení vlastního CSS souboru umístěného ve struktuře složky static -->

 {% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
</head>
<body>


 <!-- Záhlaví stránky -->
{% block navbar%}
{% endblock %}


 <!-- Hlavní blok stránky -->

{% block header%}
{% endblock %}
 <main>
 <div class="container-fluid">
 <!-- Zde bude vsunut blok s obsahem aktuální stránky -->
 {% block content %}

  {% endblock %}
 </div>
 </main>
 {% block footer %}

 {% endblock %}


 <!-- Připojení externích JS knihoven -->
 <!-- jQuery library -->
 <script
src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>
</div>
</html>