
 <nav class="navbar navbar-expand-sm text-light  ">
     {% load static %}
    <img style="width: 10%" src="{% static "images/Logo.png" %}" alt="logo">
     <div class="row">

         <div class="col-sm-3">

            <p>Hans Systems Of Comunication Technology <alt>&copy</alt> owner Jan Slivka <br>2022 June</p>
         </div>
         <div class="col-sm-3">
         </div>
         <div class="col-sm-3 text-right">
             <p>Střední škola průmyslová a umělecká, Opava<br>2022 <b>Projekt PVY</b> by Jan Slivka </p>
        </div>
         <div class="col-sm-2 text-right ml-9">

            <img src="{% static "images/skola.jpg" %}" alt="skola" style="width: 100%;">
         </div>
     </div>

</nav>

